#header {
    font-size: 50px;
    color: navy;
    width: 50%;
}

body {
    background-image: url(../images/backround.jpg)
}
div {
    background-color: white;
    margin: 10px;
    width: 25%;
    border: solid black 2px;
}
#instructions {
    color: black;
    font-size: 20px;
    background-color: white;
    text-align: left;
    width: 50%;
}

#numbertomatch {
    float: left;
    font-size: 20px;
}

.randomnumber {
    float: left;
    width: 20%;
    height: 60px;
}

.winsAndLosses{
    float: left;
    width: 20%;
    height: 90px;
}
#crystals {
    float: left;
    clear: both
}

.userTotal {
    width: 20%;
    height: 60px;
    float: left;
}

